.funccomp {
  background-color: pink;
  color: blue;
  font-size: 30px;
}

.test {
  /* background-color: #999999; */
}
@import url("https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css");
